# File delle dipendenze per il progetto

# Per l'ETL e la manipolazione dei dati
pandas==2.0.3
numpy==1.25.0

# Per la connessione e l'interazione con il database PostgreSQL
SQLAlchemy==2.0.14

# Per il machine learning e la regressione
scikit-learn==1.2.2

# Per il modello Prophet (previsioni serie temporali)
prophet==1.1

# Per la gestione delle variabili d'ambiente
python-dotenv==1.0.0

# Per la visualizzazione dei dati
matplotlib==3.7.1




